{% set active_page = "About" %}
{% set page_title = "About" %}

{% extends "base.html" %}

{% block head %}
{{ super() }}
<style>
    .red-hyper-link {
        color: #ED1C24 !important;
    }
</style>
{% endblock %}

{% block content %}

<div class="main-text" style="width: 65%; display: block; margin-left: auto; margin-right: auto; padding-bottom: 5vh;">
<p class="infopage-title-1" style="padding-top: 5vh;">Contributors</p>
<div class="row" id="contributor-cards"></div>

<!-- Project Led By -->
<p class="infopage-title-1">Project Led By</p>
<div class="row" style="padding-bottom: 10vh; padding-top: 5vh;">
    <div class="col-6">
        <a href="https://visual.cs.brown.edu/" target="_blank">
            <img src="static/images/BVC_logo.png" alt="Brown Visual Computing"
                style="width: 30%; display: block; margin-left: auto; margin-right: auto;">
        </a>
    </div>
    <div class="col-6">
        <a href="http://www.scenerepresentations.org/" target="_blank">
            <img src="static/images/SRG_logo.png" alt="MIT Scene Representation Group"
                style="width: 100%; display: block; margin-left: auto; margin-right: auto; padding-top: 10%;">
        </a>
    </div>
</div>



<!-- Become a contributor -->
<p class="infopage-title-1">Become a contributor</p>
<p class="infopage-text"> We hope that this website becomes an asset of the community,
    and we welcome anyone interested to become a contributor/moderator/admin for this website.
    You may contribute new, helpful features and visualizations. We also welcome content moderators,
    i.e. folks who will review new paper pull requests. Please email <a class="red-hyper-link" href="mailto:yiheng_xie@brown.edu">Yiheng</a> to
    join us!
</p>

<!-- Acknowledgements Section -->
<p class="infopage-title-1">Acknowledgements</p>
<p class="infopage-text">This website was built on top of <a class="red-hyper-link" href="https://github.com/Mini-Conf/Mini-Conf" target="_blank">MiniConf</a> project for
    a virtual conference in a box from <a class="red-hyper-link" href="http://twitter.com/hen_str" target="_blank">Hendrik Strobelt</a> and <a class="red-hyper-link" href="http://twitter.com/srush_nlp" target="_blank">Sasha Rush</a>.
    Citation relation data used for generating citation graphs are derived from
the <a class="red-hyper-link" href="https://www.semanticscholar.org/product/api" target="_blank">Semantic Scholar API</a>.
This work was supported by an NSF grant (CNS-2038897) and the Google Research Scholar Program.
</p>
</div>
<script>
    const contributors = [
        {
            name: "Yiheng Xie",
            affliation: "Brown University, Unity Technologies",
            headshotURL: "static/images/contributors/Yiheng_Xie.jpg",
            websiteURL: "https://yxie20.github.io/"
        },
        {
            name: "Shiqin Yan",
            affliation: "Brown University",
            headshotURL: "static/images/contributors/Shiqin_Yan.jpg",
            websiteURL: "https://player-eric.com/about"
        },
        {
            name: "Towaki Takikawa",
            affliation: "University of Toronto, NVIDIA",
            headshotURL: "static/images/contributors/Towaki_Takikawa.png",
            websiteURL: "https://tovacinni.github.io/"
        },
        {
            name: "Shunsuke Saito",
            affliation: "Facebook Reality Labs",
            headshotURL: "static/images/contributors/Shunsuke_Saito.png",
            websiteURL: "http://www-scf.usc.edu/~saitos/"
        },
        {
            name: "Or Litany",
            affliation: "NVIDIA",
            headshotURL: "static/images/contributors/Or_Litany.jpg",
            websiteURL: "https://orlitany.github.io/"
        },
        {
            name: "Numair Khan",
            affliation: "Brown University",
            headshotURL: "static/images/contributors/Numair_Khan.jpg",
            websiteURL: "http://cs.brown.edu/~nkhan6/"
        },
        {
            name: "Federico Tombari",
            affliation: "Google, TU Munich",
            headshotURL: "static/images/contributors/Federico_Tombari.jpg",
            websiteURL: "https://federicotombari.github.io"
        },
        {
            name: "Sunny Li",
            affliation: "Brown University",
            headshotURL: "static/images/contributors/Sunny_Li.jpg",
            websiteURL: ""
        },
        {
            name: "James Tompkin",
            affliation: "Brown University",
            headshotURL: "static/images/contributors/James_Tompkin.jpg",
            websiteURL: "https://jamestompkin.com/"
        },
        {
            name: "Vincent Sitzmann",
            affliation: "Massachusetts Institute of Technology",
            headshotURL: "static/images/contributors/Vincent_Sitzmann.jpeg",
            websiteURL: "http://vsitzmann.github.io/"
        },
        {
            name: "Srinath Sridhar",
            affliation: "Brown University",
            headshotURL: "static/images/contributors/Srinath_Sridhar.jpeg",
            websiteURL: "https://cs.brown.edu/people/ssrinath"
        },
    ];
    for (contributor of contributors) {
        const name = contributor.name;
        const affliation = contributor.affliation;
        const headshotURL = contributor.headshotURL;
        const websiteURL = contributor.websiteURL;
        d3.select("#contributor-cards")
            .append("div")
            .attr("class", "col-md-4 col-sm-6")
            .html(`
        <div class="pp-card contributor-card">
          <div class="pp-card-header" style="text-align: center;">
            <a class="red-hyper-link" ${websiteURL ? "href=" + websiteURL : ""} target="_blank"><h5 class="card-title">${name}</h5></a>
            <h6 class="card-subtitle text-muted m-1">${affliation}</h6>
          </div>
          <a  ${websiteURL ? "href=" + websiteURL : ""} target="_blank">
            <img src="${headshotURL}" class="contributor-headshot">
          </a>
        </div>
        `);
    }
</script>
{% endblock %}
