{% set active_page = "Add Paper" %}
{% set page_title = "Add Paper" %}

{% extends "base.html" %}

{% block head %}
{{ super() }}
<style>
    table,
    th,
    td {
        border: 1px solid black;
    }

    .red-hyper-link {
        color: #ED1C24 !important;
    }

    .footer {
        position: fixed;
        bottom: 0px;
    }

</style>
{% endblock %}

{% block content %}

<div class="main-text" style="width: 65%; display: block; margin-left: auto; margin-right: auto;">
<!-- submit / update instructions section -->
<div id="add-paper-instructions" style="padding-bottom: 45vh; padding-top: 5vh;">
    <p class="infopage-title-1">Submit a new paper (takes 1 minute)</p>
    <p class="infopage-text">Please fill out <a class="red-hyper-link" href="https://forms.gle/5fajGXEtV1xRnG3m8" target="_blank">this Google form</a>.</p>
    <p class="infopage-title-1">Update an existing paper</p>
    <p class="infopage-text">Please fill out <a class="red-hyper-link" href="https://forms.gle/jMxDzgRFyHFmPbVE9" target="_blank">this Google form</a>.
    <br/>
    <br/>
    *Changes will be reflected on the website within a few days.
    <br/>
    <p class="infopage-title-1">Join us</p>
    <p class="infopage-text">We are looking for volunteers who can moderate and maintain this database. See <a class="red-hyper-link" href="https://neuralfields.cs.brown.edu/about.html" target="_blank">About</a> tab.</p>
    <!-- <p class="infopage-title-1">Optional steps</p>
    <p class="infopage-text">If you would like to see the changes reflected more immediately, please follow these additional
        steps:</p>
    <ul>
        <li class="infopage-step-list-item">Step 1: Clone our <a class="red-hyper-link" href="https://github.com/brownvc/neural-fields-review"
                target="_blank">Github Repository</a> locally.</li>
        <li class="infopage-step-list-item">Step 2: Go to <a class="red-hyper-link"
                href="https://docs.google.com/spreadsheets/d/1n2cUPCbJMAmFdb5sNkpxuvKf2pzY2_lGaWWQfY5t9nE/edit?usp=sharing"
                target="_blank">this spreadsheet</a>,
            copy the row you just entered (first row).</li>
        <li class="infopage-step-list-item">Step 3 (new paper): Append the row to the top (2nd row) in file <a class="red-hyper-link"
                href="https://github.com/brownvc/neural-fields-review/blob/main/sitedata/papers.csv"
                target="_blank">"sitedata/papers.csv"</a>
            in your cloned local repository.</li>
        <li class="infopage-step-list-item">Step 3 (update existing): Replace the existing row (corresponding to your
            paper) in file <a class="red-hyper-link" href="https://github.com/brownvc/neural-fields-review/blob/main/sitedata/papers.csv"
                target="_blank">"sitedata/papers.csv"</a> with the row you copied.</li>
        <li class="infopage-step-list-item">Step 4: Commit changes to your cloned repository and create a pull request.
        </li>
    </ul> -->
</div>
</div>
{% endblock %}
