{% set active_page = "Home" %}
{% extends "base.html" %}

{% block top %}
<style>
  .back {
    background: url("{{config.background_image}}") no-repeat center;
    background-size: cover;
  }
  .back h2 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
  }
</style>

<div class="jumbotron jumbotron-fluid back" style="padding-bottom: 20px;">
  <div class="row header p-6 m-5">
    <div class="p-1 mx-auto text-center text-white col-md-9 col-sm-12">
      <h2>
        {{config.tagline|safe}}
      </h2>
      <h2 class="p-5">
        {{config.date|safe}}
      </h2>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<!-- {{ readme | markdown }} -->
<p class="homepage-title-1">Features</p>
<p class="homepage-title-2">Browsing through papers</p>
<img src="static/images/browse.png">
<p class="homepage-title-2">Building a timeline</p>
<p class="homepage-title-2">Checking out citations</p>
{% endblock %}
