{% set active_page = "Home" %}
{% extends "base.html" %}

{% block top %}
<style>
  .back {
    background: url("{{config.background_image}}") no-repeat center;
    background-size: cover;
  }
  .back h2 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
  }
</style>

<div class="jumbotron jumbotron-fluid back" style="padding-bottom: 30px;">
  <div class="row header p-6 m-5">
    <div class="p-1 mx-auto text-center col-md-9 col-sm-12">
      <h2>
        {{config.tagline|safe}}
      </h2>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="row" style="padding-top: 20px;">
  <div class="input-group col-11">
    <input type="text" id="vagueSearchInput" class="form-control vagueSearchTypeahead"
      onchange="vagueSearch()">
    <button type="button" class="btn bg-transparent vagueSearchTypeahead_clear"
      style="margin-left: -40px; z-index: 100;">
      &times;
    </button>
  </div>
  <div class="col-1">
    <button class="btn btn-outline-secondary" style="border-radius: 25px;" data-tippy-content="Search"
      onclick="vagueSearch()">
      <div class="fas">&#xf002;</div>
    </button>
  </div>
</div>

<div class="row" style="padding-top: 20px; padding-bottom: 60px;">
  <div class="col-4 d-flex justify-content-end">
    <button type="button" class="btn btn-success" onclick="window.open('papers.html','_self').focus();">
      Advanced Search
    </button>
  </div>
  <div class="col-3 d-flex justify-content-center">
    <button type="button" class="btn btn-success" onclick="window.open('papers_vague.html?feelingLucky=true','_self').focus();">
      I'm fielding lucky
    </button>
  </div>
  <div class="col-4  d-flex justify-content-start">
    <button type="button" class="btn btn-success" onclick="window.open('info.html','_self').focus();">
      Add my paper
    </button>
  </div>
</div>

<iframe src="static/pdf/Neural Fields in Visual Computing.pdf" width="100%" height="800px"></iframe>

<p class="homepage-title-1" style="padding-top: 40px;">What is this?</p>
<p class="homepage-text">
    This is the complementary web-page for Eurographics 2022 State-of-The-Art Report
    (under review): <i><a href="">Neural Fields in Visual Computing and Beyond</a></i>.
</p>
<p class="homepage-text">
    We aim to provide a comprehensive yet interactive database of all papers using
    the coordinate-based neural network technique.
</p>
<p class="homepage-text">
    For more in-depth discussions, please visit our <a href="">review paper</a>.
    <div id="paper-bibtex" class="pp-card m-3">
      <div class="card-body">
        <div class="card-text">
          <span style="font-size: large; font-weight: bold;">Bibtex for our paper:</span>
          <span style="white-space: pre-line; position: relative; left: 20px;">
            @article{xie2021neuralfield,
            TITLE = {Neural Fields in Visual Computing and Beyond},
            AUTHOR = {Yiheng Xie and Towaki Takikawa and Shunsuke Saito and Or Litany and Shiqin Yan and Numair Khan and Federico Tombari
              and James Tompkin and Vincent Sitzmann and Srinath Sridhar},
            BOOKTITLE = {ArXiv Pre-print},
            YEAR = {2021} }
          </span>
        </div>
        <p></p>
      </div>
    </div>
</p>

<p class="homepage-text">
For authors, please visit the <a href="info.html" target="_blank">info page</a> to find instructions on how to add your
paper to the database, or edit your existing entry.
</p>

<p class="homepage-title-1">Features</p>
<!-- <p class="homepage-title-2">Filtering</p> -->
<p class="homepage-text">Users can filter out disired papers by applying one or multiple filters on papers' titles,
  authors, keywords, or publication dates.</p>
<img src="static/images/browse.gif" class="homepage-image">
<!-- <p class="homepage-title-2">Building a timeline</p> -->
<p class="homepage-text">A scrollable and zoomable timeline can be built given a set of papers. Users can use this
  feature to
  check the trajectory of how a certerin technique has evolved over time.
</p>
<img src="static/images/timeline.gif" class="homepage-image">
<!-- <p class="homepage-title-2">Citation graph</p> -->
<p class="homepage-text">Citation graph offers an intuitive way to check citation relations given a single paper or a
  set of papers.
</p>

<img src="static/images/citation.gif" class="homepage-image">



<script src="static/js/modules/typeaheadSetup.js"></script>
<script src="static/js/views/view_utils.js"></script>
<script src="static/js/views/index.js"></script>
<script>
  start();
</script>
{% endblock %}
