{% set active_page = "Home" %}
{% extends "base.html" %}

{% block top %}
<style>
  .back {
    background: url("{{config.background_image}}") no-repeat center;
    background-size: cover;
  }
  .back h2 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
  }
</style>

<div class="jumbotron jumbotron-fluid back" style="padding-bottom: 20px;">
  <div class="row header p-6 m-5">
    <div class="p-1 mx-auto text-center text-white col-md-9 col-sm-12">
      <h2>
        {{config.tagline|safe}}
      </h2>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<p class="homepage-title-1">What is this?</p>
<p class="homepage-text">
    This is the complementary web-page for Eurographics 2022 State-of-The-Art Report
    (under review): <i>Neural Fields in Visual Computing and Beyond</i>.
    We hope to provide a comprehensive yet interactive database of all papers using
    the coordinate-based neural network technique.
    For more in-depth discussions, please visit our <a href="">review paper</a>
    (<a class="card-link" data-toggle="collapse" role="button" href="#paper-bibtex">
      Bibtex
    </a>).
    <div id="paper-bibtex" class="pp-card m-3 collapse">
      <div class="card-body">
        <div class="card-text">
          <span style="font-size: large; font-weight: bold;">Bibtex for our paper:</span>
          <span style="white-space: pre-line; position: relative; left: 20px;">
            @article{xie2021neuralfield, 
            TITLE = {Neural Fields in Visual Computing and Beyond},
            AUTHOR = {Yiheng Xie and Towaki Takikawa and Shunsuke Saito and Or Litany and Shiqin Yan and Numair Khan and Federico Tombari 
              and James Tompkin and Vincent Sitzmann and Srinath Sridhar}, 
            BOOKTITLE = {ArXiv Pre-print}, 
            YEAR = {2021} }
          </span>
        </div>
        <p></p>
      </div>
    </div>
</p>

<p class="homepage-text">
For authors, please visit the <a href="info.html" target="_blank">info page</a> to find instructions on how to add your
paper to the database, or edit your existing entry.
</p>

<p class="homepage-title-1">Contributors</p>
<div class="row" id="contributor-cards"></div>

<p class="homepage-title-1">Features</p>
<p class="homepage-title-2">Filtering</p>
<p class="homepage-text">Users can filter out disired papers by applying one or multiple filters on papers' titles,
  authors, keywords, or publication dates.</p>
<img src="static/images/browse.gif" class="homepage-image">
<p class="homepage-title-2">Building a timeline</p>
<p class="homepage-text">A scrollable and zoomable timeline can be built given a set of papers. Users can use this
  feature to
  check the trajectory of how a certerin technique has evolved over time.
</p>
<img src="static/images/timeline.gif" class="homepage-image">
<p class="homepage-title-2">Citation graph</p>
<p class="homepage-text">Citation graph offers an intuitive way to check citation relations given a single paper or a
  set of papers.
</p>

<img src="static/images/citation.gif" class="homepage-image">

<script>
  const contributors = [
    {
      name: "Yiheng Xie",
      affliation: "Brown University, Unity Technologies",
      headshotURL: "static/images/contributors/Yiheng_Xie.jpg",
      websiteURL: ""
    },
    {
      name: "Vincent Sitzmann",
      affliation: "Massachusetts Institute of Technology",
      headshotURL: "static/images/contributors/Vincent_Sitzmann.jpeg",
      websiteURL: "http://vsitzmann.github.io/"
    },
    {
      name: "Shunsuke Saito",
      affliation: "Facebook Reality Labs",
      headshotURL: "static/images/contributors/Shunsuke_Saito.png",
      websiteURL: "http://www-scf.usc.edu/~saitos/"
    },
    {
      name: "Srinath Sridhar",
      affliation: "Brown University",
      headshotURL: "static/images/contributors/Srinath_Sridhar.jpeg",
      websiteURL: "https://cs.brown.edu/people/ssrinath"
    },
    {
      name: "Towaki Takikawa",
      affliation: "University of Toronto, NVIDIA",
      headshotURL: "static/images/contributors/Towaki_Takikawa.png",
      websiteURL: "https://tovacinni.github.io/"
    },
    {
      name: "Shiqin Yan",
      affliation: "Brown University",
      headshotURL: "static/images/contributors/shiqin_yan.jpg",
      websiteURL: "https://player-eric.com/about"
    },
    {
      name: "Numair Khan",
      affliation: "Brown University",
      headshotURL: "static/images/contributors/Numair_Khan.jpg",
      websiteURL: "http://cs.brown.edu/~nkhan6/"
    },
  ];
  for (contributor of contributors) {
      const name = contributor.name;
      const affliation = contributor.affliation;
      const headshotURL = contributor.headshotURL;
      const websiteURL = contributor.websiteURL;
      d3.select("#contributor-cards")
        .append("div")
        .attr("class", "col-md-3 col-sm-6")
        .html(`
        <div class="pp-card contributor-card">
          <div class="pp-card-header" style="text-align: center;">
            <a ${websiteURL ? "href=" + websiteURL : ""} target="_blank"><h5 class="card-title">${name}</h5></a>
            <h6 class="card-subtitle text-muted m-1">${affliation}</h6>
          </div>
          <a ${websiteURL ? "href=" + websiteURL : ""} target="_blank">
            <img src="${headshotURL}" class="contributor-headshot">
          </a>
        </div>
        `);
    }
</script>
{% endblock %}
