{% set active_page = "Papers" %}
{% set page_title = "Papers" %}

{% extends "base.html" %}

{% block head %}
{{ super() }}


<script src='static/js/plotly/plotly-2.4.2.min.js'></script>

{% endblock %}

{% block tabs %}
<ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
        <a class="nav-link text-muted" href="papers.html">Browse</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-muted" href="paper_vis_timeline.html">Timeline</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-muted" href="paper_vis_citation_graph.html">Citation Graph</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link text-muted active">Statistics</a>
    </li>
</ul>
{% endblock %}

{% block content %}
<body>
    {{ components.sectionTitlePlain("Keywords Statistics") }}
    <div id='keywords-statistics' style="height: 70vh"></div>
</body>

<div style="width: 100%; text-align: center; padding-bottom: 5vh;">
<span style="font-style: italic;">Click on bars to filter by specific keywords.</span>
</div>

<script src="static/js/views/paper_vis_statistics.js"></script>
<script>
    start();
</script>
{% endblock %}
