{% set active_page = "Papers" %}
{% set page_title = "Papers" %}

{% extends "base.html" %}

{% block head %}
{{ super() }}
<!-- resources used in papers page -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.0/dist/umd/popper.min.js"></script>

<!-- tippy.js is used for creating tooltips-->
<script src="https://cdn.jsdelivr.net/npm/tippy.js@6/dist/tippy-bundle.umd.min.js"></script>

<script src="static/js/modules/icons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

{% endblock %}

{% block tabs %}
<ul class="nav nav-pills justify-content-center">
  <li class="nav-item active">
    <a class="nav-link text-muted active" data-toggle="tab" role="tab" aria-controls="nav-home"
      aria-selected="true">Browse
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-muted" href="paper_vis_timeline.html">Timeline</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-muted" href="paper_vis_citation_graph.html">Citation Graph</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-muted" href="paper_vis_leaderboard.html">Leaderboard</a>
  </li>
</ul>

{% endblock %}

{% block content %}
<div class="row p-3"></div>


<!-- title / nickname search input -->
<div class="row">
  <div class="input-group col-11">
    <input type="text" id="titleAndNicknameInput" class="form-control titleAndNicknameTypeahead"
      placeholder="Search by title / nickname" onchange="setTitleAndNicknameFilter()">
    <button type="button" class="btn bg-transparent titleAndNicknameTypeahead_clear"
      style="margin-left: -40px; z-index: 100;">
      &times;
    </button>
  </div>
  <div class="col-1">
    <button class="btn btn-outline-secondary" id="add_new_filter_button" style="border-radius: 25px;"
      onclick="addNewFilter('author','')" data-tippy-content="Add a filter">
      <div class="fas">&#xf067;</div>
    </button>
  </div>
</div>

<!-- Dynamic filters -->
<div id="dynamicFiltersSection">
</div>

<div class="row" style="padding-top: 10px;">
  <div class="col-4">
    <label><input type="checkbox" name="checkbox" id="onlyShowPapersWithCodeCheckbox" onclick="triggerFiltering()">
      Only show papers with code
    </label>
  </div>
  <div class="col-4">
    <label style="width: 100%;">
      Sort By
      <select id="sortBySelector" style="width: 70%; border: 1px solid #ced4da; border-radius: .25rem;"
        onChange="triggerFiltering()">
        <option value=""></option>
        <option value="Title">Title</option>
        <option value="DateLatestToOldest">Date - Latest to Oldest</option>
        <option value="DateOldestToLatest">Date - Oldest to Latest</option>
      </select>
    </label>
  </div>
  <div class="col-4">
    <div class="float-right">
      <div class="btn-group btn-group-toggle render_option" data-toggle="buttons">
        <label class="btn btn-outline-secondary active" onclick="changeRenderMode('mini')">
          <input type="radio" name="options" value="mini" autocomplete="off" />
          mini
        </label>
        <label class="btn btn-outline-secondary active">
          <input type="radio" name="options" value="compact" autocomplete="off" onclick="changeRenderMode('compact')"
            checked />
          compact
        </label>
        <label class="btn btn-outline-secondary">
          <input type="radio" name="options" value="detail" autocomplete="off" onclick="changeRenderMode('detail')" />
          detail
        </label>
      </div>
    </div>
  </div>
</div>

<p id="displaying-number-of-papers-message"></p>

<!-- Cards -->
<div class="cards row"></div>
<!-- urlParams.js parses filter keyword from url -->
<script src="static/js/modules/urlParams.js"></script>
<!-- typeaheadSetup.js enables autocompleting -->
<script src="static/js/modules/typeaheadSetup.js"></script>
<!-- lazyload.js loads images lazily-->
<script src="static/js/modules/lazyLoad.js"></script>
<!-- persistor.js stores a dictionary in browser's local storage -->
<script src="static/js/data/persistor.js"></script>
<script src="static/js/data/wrangle.js"></script>
<script src="static/js/views/papers.js"></script>
<script>
  $(document).ready(function () {
    tippy("[data-tippy-content]", { trigger: "mouseenter focus" });
    start();
  });
</script>

{% endblock %}

<!-- Forget about cookies for now -->
<!-- {% block footer %}

<div class="gdpr bg-dark text-light" style="padding: 10pt; position: fixed; bottom: 0; display: none;">
  We use cookies to store which papers have been visited.
  <div class="gdpr-btn btn btn-sm btn-info" style="margin-left: 15pt;">
    I agree
  </div>
</div>
<script src="static/js/modules/gdprCookies.js"></script>

{% endblock %} -->
