{% set page_title = paper.title %}
{% extends "base.html" %}

{% block head %}

{{ super() }}
<meta name="citation_title" content="{{paper.title}}" />

{% for author in paper.authors %}
<meta name="citation_author" content="{{author}}" />
{% endfor %}

<meta name="citation_abstract" content="{{paper.abstract}}" />

{% for keyword in paper.keywords %}
<meta name="citation_keywords" content="{{keyword}}" />
{% endfor %}
<meta name="citation_pdf_url" content="{{paper.pdf_url|default('') }}" />

<script type="text/javascript" src="static/js/vis/vis-network.min.js"></script>

{% endblock %}

{% block content %}

<!-- Title -->
<div class="pp-card m-3">
    <div class="card-header">
        <h2 class="card-title main-title text-center">
            {{paper.title}}
        </h2>
        <h3 class="card-subtitle mb-2 text-muted text-center">
            {% for author in paper.authors %}
            <a href="papers.html?author={{author}}" target="_blank"
                data-tippy-content="See all papers authored by {{author}}"
                class="text-muted filterByAuthorLink">{{author}}</a>{{ "," if not loop.last }}
            {% endfor %}
        </h3>
        <h3 class="card-subtitle mb-2 text-muted text-center">
            {{paper.date}}
        </h3>
        <div id="citation-code-wrapper" class="text-muted text-center"
        >
        </div>
        <p class="text-center" style="margin-bottom: 0px;">
            <span>Keywords:</span>
            {% for keyword in paper.keywords %}
            <a href="papers.html?keyword={{keyword}}" target="_blank"
                data-tippy-content="See all papers with keyword '{{keyword}}'"
                class="text-secondary text-decoration-none filterByKeywordLink">{{keyword}}</a>{{ "," if not loop.last }}
            {% endfor %}
        </p>
        <!--  {{paper.year}} -->
        <!-- {% if paper.venue != "" and paper.year != "" %} -->
        {% if paper.venue != "" %}
        <p class="text-center" style="margin-bottom: 0px;">
            <span>Venue: </span>
            <a href="papers.html?venue={{paper.venue}}" target="_blank" class="text-secondary text-decoration-none">{{paper.venue}}</a>
        </p>
        {% endif %}

        <div class="text-center p-3">
            <a class="card-link" target="_blank" href="{{paper.pdf_url}}">
                Paper
            </a>
            {% if paper.citation != "" %}
            <a class="card-link" data-toggle="collapse" role="button" href="#citation">
                Citation
            </a>
            {% endif %}
            {% if paper.code_link != "" %}
            <a href="{{paper.code_link}}" target="_blank" class="card-link">
                Code
            </a>
            {% else %}
            <span class="card-link">Code coming soon...</span>
            {% endif %}
        </div>
    </div>
    <span id="invisible-paper-id" style="display: none;">{{paper.UID}}</span>
</div>
<div id="details" class="pp-card m-3">
    <div class="card-body">
        <div class="card-text">
            <div id="abstractExample">
                <p style="font-weight: bolder; font-size: 25px; text-align: center;">Abstract</p>
                {{paper.abstract}}
            </div>
        </div>
        <p></p>
    </div>
</div>
<div id="citation" class="pp-card m-3 collapse">
    <div class="card-body">
        <div class="card-text">
            <span style="font-size: large; font-weight: bold;">Bibtex:</span>
            <span style="white-space: pre-line; position: relative; left: 20px;">
                {{paper.citation}}
            </span>
        </div>
        <p></p>
    </div>
</div>


<!-- Youtube Video -->
{% if "youtube" in paper.talk_link %}
{{ components.sectionTitleLink("Video", paper.talk_link) }}
<div class="col-md-12 col-xs-12 p-2">
    <iframe style="width: 100%; height: 60vh;" src="{{paper.talk_link}}">
    </iframe>
</div>

{% endif %}

<!-- Project Webpage -->
{% if paper.project_link != "" %}
{{ components.sectionTitleLink("Project Webpage", paper.project_link) }}
<div class="col-md-12 col-xs-12 p-2">
    <iframe style="width: 100%; height: 60vh;" src="{{paper.project_link}}">
    </iframe>
</div>

{% endif %}

<!-- Citation Graph -->
{{ components.sectionTitleCitationGraph("Citation Graph") }}

<div id="citationGraph" style="width: 100%;
  height: 600px;
  border: 1px solid lightgray;" ondblclick="openPaperLink()"></div>
<p><span style="font-size: 10px;">*</span> Not showing citation relations with papers outside of our current database.</p>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.0/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tippy.js@6/dist/tippy-bundle.umd.min.js"></script>
<script src="static/js/views/paper_detail.js"></script>
<script>
    tippy(".filterByAuthorLink");
    tippy(".filterByKeywordLink");
    const paperID = document.getElementById("invisible-paper-id").innerHTML;
    drawCitationGraphAndGenerateCitationCode(paperID);
</script>

{% endblock %}
