<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
        <!-- Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-GT7LEVW06Z"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'G-GT7LEVW06Z');
        </script>
        <!-- head block ends here-->


    <title>SIGGRAPH 2023 Course: Neural Fields for Visual Computing</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta property='og:title' content='SIGGRAPH 2023 Course: Neural Fields for Visual Computing'/>
    <meta property='og:url' content='https://neuralfields.cs.brown.edu/' />
    <meta property='og:image' content='https://neuralfields.cs.brown.edu/static/images/main_logo_new.png' />
    <meta property="og:type" content="website" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>

  <body>

    <header>
        <!-- Navbar -->
        <div class="container container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
                <button
                    class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarExample01"
                    aria-controls="navbarExample01"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarExample01">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#abstract">Abstract</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#presenters">Presenters</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#schedule">Schedule</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://neuralfields.cs.brown.edu/">Back to Neural Fields</a>
                    </li>
                    </ul>
                </div>
            </nav>
        </div>        
        <!-- Navbar -->

        <!-- Jumbotron -->
        <div class="container p-5 text-center bg-light">
            <img class="img-fluid" src="static/images/main_logo_new.png"></img>
            <h4>August 6th, 9am PDT, SIGGRAPH 2023</h4>
        </div>
        <!-- Jumbotron -->
    </header>

    <br>
	<section class="section" id="abstract">
        <div class="container">
            <h3>Abstract</h3>
            
            <p class="lead">
            <a href="https://neuralfields.cs.brown.edu/">Neural fields</a>&mdash;popularized by NeRFs ('neural radiance field')&mdash;seem to be everywhere in the popular press (e.g., <a href="https://www.youtube.com/watch?v=YX5AoaWrowY">Corridor Crew</a>) for applications such as shape and image synthesis and human avatars. But, beyond writing research papers and fancy demos, what benefits might they bring to the broad SIGGRAPH community&mdash;to artists, game developers, or graphics engineers&mdash;through their inherent properties? 
            </p>
            
            <p>
            Neural fields let us solve computer graphics problems by representing physical properties of scenes or objects across space and time using coordinate-based neural networks. Their key properties as continuous and compressed representations of shape and appearance are especially useful in tasks that reconstruct scenes from real-world images for content creation. These properties are so compelling that new graphics hardware architectures are being proposed to accelerate their use, and the acronym NeRF has now become generic. In sum, neural fields represent a wider inflection point within computer graphics, and people beyond researchers should know why this is.
            </p>
            
            <p>
            Over half a day, this course aims to provide an overview of neural fields techniques for visual computing, an understanding of the mathematical and computational properties that determine their practical uses, and examples of how we can use that understanding to solve many kinds of problems. We will identify the common components of neural field methods: their representations, their forward maps as differentiable renderers, the neural network architectures, their ability to generalize to different scenes and objects, and their ability to manipulate representations. 
            </p>

            <p>
            The course features an invited industry speaker (Alex Yu of Luma AI) who will share how neural fields are used in practice, providing the audience with insights into how the latest developments can make practical tools for media production.
            </p>

            <hr>
        </div>
    </section>

    <section class="section" id="presenters">
        <div class="container">
            <h3>Presenters</h3>

            <table id="organizer" class="table table-sm table-borderless text-center w-auto">
                <tr>
                    <td>
                    <a href="https://tovacinni.github.io/" target="_blank"><img alt src="static/images/towaki.png"/> </a>
                    </td>
                    <td>
                    <a href="https://shunsukesaito.github.io/" target="_blank"><img alt src="static/images/shunsuke.png"/></a>
                    </td>
                    <td>
                    <a href="https://alexyu.net/" target="_blank"><img alt src="static/images/contributors/Alex_Yu.jpg"/> </a>
                    </td>
                    <td>
                    <a href="https://jamestompkin.com" target="_blank"> <img alt src="static/images/james.jpeg"/> </a>
                    </td>
                </tr>
                <tr>
                    <td><a href="https://tovacinni.github.io/" target="_blank">Towaki Takikawa</a></td>
                    <td><a href="http://www-scf.usc.edu/~saitos/" target="_blank">Shunsuke Saito</a></td>
                    <td><a href="https://alexyu.net/" target="_blank">Alex Yu</a></td>
                    <td><a href="https://jamestompkin.com" target="_blank">James Tompkin</a></td>
                </tr>
                <tr>
                    <td>University of Toronto<br>NVIDIA</td>
                    <td>Meta Reality Labs</td>
                    <td>Luma AI</td>
                    <td>Brown University</td>
                </tr>
            </table>

            <h3>Additional Organizers</h3>

            <table id="organizer" class="table table-sm table-borderless text-center w-auto">
            <tr>
                <td>
                    <a href="https://orlitany.github.io/" target="_blank"><img alt src="static/images/or.jpg"/></a>
                </td>
                <td>
                    <a href="https://vincentsitzmann.com" target="_blank"><img alt src="static/images/vincent.jpeg"/></a>
                </td>
                <td>
                    <a href="https://cs.brown.edu/people/ssrinath" target="_blank"><img alt src="static/images/srinath.jpg"/></a>
                </td>
            </tr>
            <tr>
                <td><a href="https://orlitany.github.io/" target="_blank">Or Litany</a></td>
                <td><a href="https://vincentsitzmann.com" target="_blank">Vincent Sitzmann</a></td>
                <td><a href="https://cs.brown.edu/people/ssrinath" target="_blank">Srinath Sridhar</a></td>
            </tr>
            <tr>
                <td>Technion / NVIDIA</td>
                <td>MIT</td>
                <td>Brown University</td>
            </tr>
            </table>
        <hr>
        </div>
    </section>


    <section class="section" id="schedule">
        <div class="container">
        <h3>Schedule</h3>

        <p>
        <a href="https://dl.acm.org/doi/10.1145/3587423.3595477">Video recording</a> on ACM Digital Library (after September 9th 2023).
        </p>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Start Time</th>
                    <th>Section</th>
                    <th>Presenter</th>
                    <th>Slides</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>9:00 AM</td>
                <td>Introduction & Motivation</td>
                <td><a href="https://jamestompkin.com" target="_blank">James Tompkin</a></td>
                <td><a href="https://1drv.ms/b/s!AmX25rlPIA7hjvRDKNHLmEtoXwhMAQ?e=bJgVBb" target="_blank">PDF</a> | <a href="https://1drv.ms/p/s!AmX25rlPIA7hjvRJxT00nlSmJ4_LIQ?e=XDLJze" target="_blank">PPTX</a></td>
            </tr>
            <tr>
                <td>9:20 AM</td>
                <td>What and Why of Neural Fields</td>
                <td><a href="https://tovacinni.github.io/" target="_blank">Towaki Takikawa</a></td>
                <td><a href="https://1drv.ms/b/s!AmX25rlPIA7hjvRI1P_dqhyLR_vsRw?e=In6Jwo" target="_blank">PDF</a> | <a href="https://1drv.ms/p/s!AmX25rlPIA7hjvRFCxfwNYlL54Ktog?e=99Mv3j" target="_blank">PPTX</a></td>
            </tr>
            <tr>
                <td>10:20 AM</td>
                <td>Break</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>10:30 AM</td>
                <td>Applications</td>
                <td><a href="http://www-scf.usc.edu/~saitos/" target="_blank">Shunsuke Saito</a></td>
                <td><a href="https://1drv.ms/b/s!AmX25rlPIA7hjvRHsjwGA-Ssnf-F2w?e=IrJ5GG" target="_blank">PDF</a> | <a href="https://1drv.ms/p/s!AmX25rlPIA7hjvRKsEUcDIwNZettIQ?e=ucpKGe" target="_blank">PPTX</a></td>
            </tr>
            <tr>
                <td>11:15 AM</td>
                <td>Industry Perspective</td>
                <td><a href="https://alexyu.net/" target="_blank">Alex Yu</a></td>
                <td><a href="https://1drv.ms/b/s!AmX25rlPIA7hjvREjAedhl7X0kNnwg?e=n7gh6n" target="_blank">PDF</a> | <a href="https://1drv.ms/p/s!AmX25rlPIA7hjvRLnVZ3EO83XF2yXQ?e=bwWemf" target="_blank">PPTX</a></td>
            </tr>
            <tr>
                <td>11:45 AM</td>
                <td>Outlook</td>
                <td><a href="https://jamestompkin.com" target="_blank">James Tompkin</a></td>
                <td><a href="https://1drv.ms/b/s!AmX25rlPIA7hjvRGxwfOdmD22_tESQ?e=MNvoIF" target="_blank">PDF</a> | <a href="https://1drv.ms/p/s!AmX25rlPIA7hjvRCDt148l_8I3owHw?e=TAMGut" target="_blank">PPTX</a></td>
            </tr>
            <tr>
                <td>12:00 PM</td>
                <td>Q & A</td>
                <td>All</td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <hr>
    </div>
    </section>


    <section class="section" id="bibtex">
        <div class="container">
            <h3>BibTeX</h3>
            <pre class="alert alert-secondary" role="alert">
@inproceedings{Takikawa2023NeuralFieldsCourse,
    author = {Towaki Takikawa and Shunsuke Saito and James Tompkin and Vincent Sitzmann and Srinath Sridhar and Or Litany and Alex Yu},
    title = {Neural Fields for Visual Computing},
    booktitle = {ACM SIGGRAPH 2023 Courses},
    year = {2023},
    month = {August},
    location = {Los Angeles, California},
    }</pre>
            <hr>
        </div>
    </section>

    <section class="section" id="acknowledgements">
        <div class="container">
            <h3>Acknowledgements</h3>
            <p>
            This work was supported by NSF CNS-2038897.
            </p>
        </div>
    </section>
</body>
</html>
